= f.inputs do
  = f.input :title, :label => 'Title'
  = f.input :tag_list, :hint => 'Split by comma ( , )'
  = f.semantic_fields_for :question_body do |body_fields|
    = body_fields.input :body, :label => 'Content'
