- if questions.empty?
  .empty No Such Questions
- else
  .questions
    - QuestionDecorator.decorate_each(questions) do |question|
      .render-question
        .stat= question.statistics
        .content
          %p.title= question.link
          %p.tags= question.tag_links
        .author by #{question.user_link}
        .avatar= question.user_avatar
