- if questions.empty?
  .empty No Such Questions
- else
  .questions
    - questions.each do |question|
      .render-question
        .stat
          %p #{question.vote_points} votes
          %p #{question.answers_count} answers
          %p #{question.view_count} views
        .content
          %p.title= link_to question.title, question_path(question)
          = render_cell :tag, :list, question
        .author
          by
          = link_to question.cached_user.login, user_path(question.cached_user)
        .avatar= render_cell :avatar, :show, question.cached_user
