- set_meta_tags :title => 'rails best practices questions'

.command
  = link_to 'Question', new_question_path, :class => 'question-button'

%h2
  Questions

.navs
  %ul
    = nav_class('created_at') do
      = questions_order_link("created_at")
    = nav_class('vote_points') do
      = questions_order_link("vote_points")
    = nav_class('answers_count') do
      = questions_order_link("answers_count")
    = nav_class('not_answered') do
      = link_to 'Not Answered', questions_path(:not_answered => true, :nav => 'not_answered')

= render 'questions', :questions => @questions
= will_paginate @questions, :previous_label => "<< Previous", :next_label => "Next >>"
