- title @question.title

.command
  = link_to 'Question', new_question_path, :class => 'question-button'
  - if can? :update, @question
    = link_to 'Edit', edit_question_path(@question)

%h2
  = @question.title

.question
  .vote-info= render_cell :vote, :show, @question
  .question-info
    %p
      = @question.user_avatar
      Posted by
      = @question.user_link
      on
      = @question.created_date

    .wikistyle= raw @question.cached_formatted_html

    .tags= @question.tag_links

    = render 'comments/short_comments', :comments => @question.cached_comments
    = render 'comments/short_comment_form', :parent => @question

    - if Rails.env.production?
      .adsense= render 'shared/google_adsense'

= render 'answers/answers', :question => @question
= render 'answers/answer_form', :question => @question, :answer => @answer
