#footer
  .container
    .share
      = link_to 'FOLLOW US ON TWITTER', "http://twitter.com/railsbp", :class => 'twitter-icon'
      = link_to 'SUBSCRIBE TO OUR RSS FEED', "http://feeds.feedburner.com/rails-bestpractices", :class => 'rss-icon'
    %ul
      %li= link_to 'Contact Us', page_path('contact-us')
      %li= link_to 'About Us', page_path('about-us')
      %li= link_to 'Team Blog', blog_posts_path
      %li= link_to 'Advertise', page_path('advertise')
    .copyright &copy; 2010 - 2012 rails-bestpractices.com
    .host
      Hosted by
      = link_to 'Linode', 'http://www.linode.com/?r=aa5686444f1835b95ee23ee5321824f6bc75c550'
