- set_meta_tags :title => 'recent comments', :noindex => true

%h2 Recent Comments

.comments
  - @comments.each do |comment|
    .comment
      .info
        = render_cell :avatar, :show, comment.cached_user
        %p
          Comments on
          = link_to comment.cached_commentable.title, post_path(comment.cached_commentable)
        %p
          Posted by
          - if comment.cached_user
            = link_to comment.cached_user.login, user_path(comment.cached_user)
          - else
            = comment.username
          on
          = l comment.created_at
      .content
        .point-to-icon
        .wikistyle= sanitize(comment.body.gsub("\n", "<br/>"), :tags => %w(a b blockquote pre code em i strong), :attributes => %w(title href))

= render_cell :paginate, :show, @comments
