- set_meta_tags :title => 'recent comments', :noindex => true

%h2 Recent Comments

.comments
  - CommentDecorator.decorate_each(@comments) do |comment|
    .comment
      .info
        = comment.user_avatar
        %p
          Comments on
          = comment.parent_link
        %p
          Posted by
          = comment.user_link
          on
          = l(comment.created_at)
      .content
        .point-to-icon
        .wikistyle= raw white_list(comment.body.gsub("\n", "<br/>"), :tags => %w(a b blockquote pre code em i strong), :attributes => %w(title href))

= paginate @comments
