- set_meta_tags :title => "Create a drop", :noindex => true

%h2 提交中文的最佳实践或问题

= semantic_form_for @drop do |form|
  = render 'form', :f => form
  = form.buttons do
    = form.submit "提交"
    = link_to '返回', root_path
