.blog_post
  %h2= link_to blog_post.title, blog_post_path(blog_post)
  %p.author
    = image_tag blog_post.user.gravatar_url(:size => 16, :default => 'mm'), :class => 'user-avatar', :alt => blog_post.user.login
    Posted by
    = link_to blog_post.user.login, user_path(blog_post.user)
    on
    = l(blog_post.created_at.to_date)
  %p.comments_count= link_to "#{blog_post.comments_count} Comments", blog_post_path(blog_post, :anchor => "comments")
  .body= raw blog_post.body
