#header
  .container
    .logo
      %h1= link_to "Rails Best Practices", root_path
      %p.first Follow The Rails Best Practices Here
      %p.second Share Your Rails Best Practices Here
    .nav
      %ul.user
        %li= link_to "Home", root_path
        - if @user
          %li
            = link_to @user.login, user_path(@user), :class => "user-link"
            = link_to "#{@user.unread_notification_count}", notifications_path, :class => "notification-link #{'active' if @user.unread_notification_count > 0}"
          %li= link_to "Sign out", destroy_user_session_path, :method => :delete
        - else
          %li= link_to "Sign up", new_user_registration_path
          %li= link_to "Sign in", new_user_session_path
        %li.last= link_to "Leaders", users_path
      %ul.team
        %li= link_to "About", page_path(:name => 'about-us')
        %li= link_to "RDoc", "http://rdoc.rails-bestpractices.com"
        %li.last= link_to "Blog", blog_posts_path
    .pledgie= render 'header/pledgie'
    .share
      = link_to 'SUBSCRIBE TO OUR RSS FEED', "http://feeds.feedburner.com/rails-bestpractices", :class => 'rss-icon'
      = link_to 'FOLLOW US ON TWITTER', "http://twitter.com/railsbp", :class => 'twitter-icon'
  .community
    .addthis= render 'header/addthis'
  .main-nav
    .container
      %ul
        %li= link_to 'Rails Best Practices', root_path
        %li= link_to 'Questions', questions_path
      = form_tag search_path, :method => :get do
        .search-label
        = text_field_tag 'search', '', :class => 'search-text'
        = submit_tag 'Search', :class => 'search-icon'
