= f.inputs do
  = f.input :title, :label => "Job Title"
  = f.input :company
  = f.input :company_url, :label => "Company URL (optional)"
  = f.input :country, :label => "Job Country"
  = f.input :state, :label => "Job State"
  = f.input :city, :label => "Job City"
  = f.input :address, :label => "Job Address"
  = f.input :salary, :label => "Job Salary (optional)", :hint => "Hourly/Monthly/Yearly"
  = f.input :apply_email, :label => "Apply Email Address"
  = f.input :description, :label => "Job Description"
  = f.input :job_types, :label => "Job Types", :as => :check_boxes, :collection => JobType.all

- content_for :js do
  = javascript_include_tag 'tiny_mce/tiny_mce_jquery'
