- set_meta_tags :title => "Post a job", :noindex => true

%h2 Post a job

= semantic_form_for @job do |form|
  = render 'form', :f => form
  = form.actions do
    = form.submit "Post"
    = link_to 'Back', jobs_path
