- title @job.title

.command
  = link_to "Back to Job Postings", jobs_path
  - if can? :update, @job
    %p= link_to "Edit", edit_job_path(@job)

.job
  %h2= @job.title

  .subtitle
    %span.label.company= link_to @job.company, @job.company_url
    %span.location (#{@job.location})

  .posted
    %span.label Posted:
    = @job.created_at.to_date

  .type
    %span.label Type:
    = @job.cached_job_type_names.join(", ")

  - if @job.address
    .clear
    .address
      %span.label Address:
      = @job.address

  .clear
  .description
    %span.label Description:
    .wikistyle= sanitize(@job.description, :tags => %w(a b blockquote pre code em i strong span div br ul li), :attributes => %w(title href))

  .apply_by
    %span.label Apply by Email
    %p= @job.apply_email

  - if Rails.env.production?
    .adsense= render 'shared/google_adsense'
