- set_meta_tags :title => 'notifications', :noindex => true

%h2 Notifications
- if @notifications.empty?
  .empty No Notifications Yet
- else
  .notifications
    - @notifications.each do |notification|
      .render-notification
        .icon
          %div{:class => "#{notification.notifierable_type.downcase}-icon"}
        %div{:class => notification.read? ? "read" : "unread"}= raw notification_message(notification)
        .time= "#{time_ago_in_words(notification.created_at)} ago"
        .delete= link_to 'Delete', notification_path(notification), :method => :delete, :class => 'delete-icon'
= paginate @notifications
