- set_meta_tags :title => 'notifications', :noindex => true

%h2 Notifications
- if @notifications.empty?
  .empty No Notifications Yet
- else
  .notifications
    - @notifications.each do |notification|
      .render-notification
        .icon
          %div{:class => "#{notification.notifierable_type.downcase}-icon"}
        %div{:class => notification.read? ? "read" : "unread"}= notification_message(notification)
        %abbr.timeago{:title => notification.created_at.getutc.iso8601}= notification.created_at.getutc.iso8601
        .delete= link_to 'Delete', notification_path(notification), :method => :delete, :class => 'delete-icon'

= render_cell :paginate, :show, @notifications
