- set_meta_tags :title => 'Sign up', :noindex => true

%h2 Sign Up
= semantic_form_for resource, :url => registration_path(resource) do |form|
  = form.semantic_errors :base
  = form.inputs do
    = form.input :login
    = form.input :email
    - if resource.password_required?
      = form.input :password
      = form.input :password_confirmation
  = form.actions do
    = form.submit "Sign up"
