- set_meta_tags :title => @user.login, :noindex => true

%h2= @user.login

.user
  - if @user == current_user
    .command
      = link_to 'Edit', edit_user_registration_path
  .avatar= image_tag @user.gravatar_url(:size => 64, :default => 'mm'), :class => 'user-avatar', :alt => @user.login
  .info
    %p
      %span Login
      = @user.login
    %p
      %span Website
      - if @user.url?
        = link_to @user.url, @user.url, :rel => 'nofollow', :target => '_blank'

.statistics
  .header.navs
    %ul
      = nav_class('posts') do
        = link_to "#{@user.posts_count} Rails Best Practices", user_path(@user, :nav => 'posts')
      = nav_class('questions') do
        = link_to "#{@user.questions_count} Questions", user_path(@user, :nav => 'questions')
      = nav_class('answers') do
        = link_to "#{@user.answers_count} Answers", user_path(@user, :nav => 'answers')
  - case params[:nav]
  - when 'posts'
    - if @children.empty?
      .empty No Such Rails Best Practices
    - else
      .posts= render @children
  - when 'questions'
    = render 'questions/questions', :questions => @children
  - when 'answers'
    = render 'users/answers', :answers => @children
