- set_meta_tags :title => @user.login, :noindex => true

%h2= @user.login

.user
  - if @user == current_user
    .command
      = link_to 'Edit', edit_user_registration_path
  .avatar= image_tag @user.gravatar_url(:size => 64, :default => 'mm'), :class => 'user-avatar', :alt => @user.login
  .info
    %p
      %span Login
      = @user.login
    %p
      %span Website
      - if @user.url?
        = link_to @user.url, @user.url, :rel => 'nofollow', :target => '_blank'

.statistics
  = render_cell :tab, :user, @user
  - case params[:nav]
  - when 'posts'
    = render 'posts/posts', :posts => @children
  - when 'questions'
    = render 'questions/questions', :questions => @children
  - when 'answers'
    = render 'users/answers', :answers => @children
