- unless current_user
  = link_to "Sign in with Twitter", "/auth/twitter", :class => 'sign-in-twitter-button', :rel => "nofollow"
  = link_to "Login with Facebook", "/auth/facebook", :class => 'sign-in-facebook-button', :rel => "nofollow"

.jobs-section
  %h3 Top Ruby and Rails Jobs
  %ul.jobs
    - Job.published.order("created_at desc").limit(5).each do |job|
      %li
        %p.title= link_to job.title, job_path(job)
        %p.company= job.company
        %p.location= "#{job.location}, #{job.country}"
    %li.all= link_to "View All Jobs", jobs_path
