.comment_form
  %p
    - if @user
      = link_to 'not clear? leave a comment', '#', :class => 'leave-comment'
    - else
      = link_to "Login to leave a comment", new_user_session_path
  = semantic_form_for [@parent, @comment], :html => {:class => 'hide'} do |form|
    = form.inputs do
      = form.input :body, :label => 'Content', :input_html => { :class => 'wmd-ignore', :rows => 2 }
    = form.actions do
      = form.submit "Comment"
