.comments
  %a{:name => 'comments'}
  %h3 Comments
  - @comments.each do |comment|
    - unless comment.new_record?
      .comment
        %p.info
          = render_cell :avatar, :show, comment.cached_user
          Posted by
          - if comment.cached_user
            = link_to comment.cached_user.login, user_path(comment.cached_user)
          - else
            = comment.username
          on
          %abbr.timeago{:title => comment.created_at.getutc.iso8601}= comment.created_at.getutc.iso8601
        .content
          .point-to-icon
          .wikistyle= sanitize(simple_format(comment.body, :sanitize => false), :tags => %w(p br a b blockquote pre code em i strong), :attributes => %w(title href))
