.header.navs
  %ul
    %li{:class => nav_class("posts")}
      = link_to "#{@user.posts_count} Rails Best Practices", user_path(@user, :nav => 'posts')
    %li{:class => nav_class("questions")}
      = link_to "#{@user.questions_count} Questions", user_path(@user, :nav => 'questions')
    %li{:class => nav_class("answers")}
      = link_to "#{@user.answers_count} Answers", user_path(@user, :nav => 'answers')
