.answers
  - if question.cached_answers.present?
    %h3 Answers
    - question.cached_answers.each do |answer|
      - unless answer.new_record?
        .answer
          = render_cell :vote, :show, answer, current_user
          .answer-info
            .command
              - if can? :update, answer
                = link_to 'Edit', edit_question_answer_path(question, answer)
                &nbsp;&nbsp;|&nbsp;&nbsp;
                = link_to 'Share', new_post_path(:answer_id => answer.id)
            %p
              = render_cell :avatar, :show, answer.cached_user
              Answered by
              = link_to answer.cached_user.login, user_path(answer.cached_user)
              on
              = l answer.created_at.to_date
            .wikistyle= raw answer.cached_formatted_html
            = render 'comments/short_comments', :comments => answer.cached_comments
            = render 'comments/short_comment_form', :parent => answer
