.answers
  - if question.cached_answers.present?
    %h3 Answers
    - AnswerDecorator.decorate_each(question.cached_answers) do |answer|
      - unless answer.new_record?
        .answer
          .vote-info= render_cell :vote, :show, answer
          .answer-info
            .command
              - if can? :update, answer
                = link_to 'Edit', edit_question_answer_path(question, answer)
                &nbsp;&nbsp;|&nbsp;&nbsp;
                = link_to 'Share', new_post_path(:answer_id => answer.id)
            %p
              = image_tag answer.user_gravatar
              Answered by
              = answer.user_link
              on
              = answer.created_date

            .wikistyle= raw answer.cached_formatted_html
            = render 'comments/short_comments', :comments => answer.cached_comments
            = render 'comments/short_comment_form', :parent => answer
