- set_meta_tags :title => 'Edit a rails best practice answer', :noindex => true

%h2 Edit a Rails Best Practice Answer

= semantic_form_for [@question, @answer] do |form|
  = form.inputs do
    = form.input :user_id, :as => :hidden, :value => current_user.id
    = form.semantic_fields_for :answer_body do |body_fields|
      = body_fields.input :body, :label => false
    = form.buttons do
      = form.submit "Save"
      = link_to 'Back', question_path(@question)
