- set_meta_tags :title => "tag #{@tag.name}", :noindex => true

%h2
  = "Tag #{@tag.name}"
.navs
  %ul
    = nav_class('posts') do
      = link_to "Rails Best Practices", tag_path(@tag.name, :nav => 'posts')
    = nav_class('questions') do
      = link_to "Questions", tag_path(@tag.name, :nav => 'questions')

- if params[:nav] == 'posts'
  - if @children.empty?
    .empty No Such Rails Best Practices
  - else
    %table.posts= render @children
- elsif params[:nav] == 'questions'
  = render 'questions/questions', :questions => @children
= will_paginate @children, :previous_label => "<< Previous", :next_label => "Next >>"
