- set_meta_tags :title => "tag #{@tag.name}", :noindex => true

%h2= "Tag #{@tag.name}"
= render_cell :tab, :tag, @tag

- if params[:nav] == 'posts'
  = render 'posts/posts', :posts => @children
- elsif params[:nav] == 'questions'
  = render 'questions/questions', :questions => @children
= paginate @children
