- if posts.empty?
  .empty No Such Rails Best Practices
- else
  .posts
    - posts.each do |post|
      .render-post
        .stat
          %p #{post.vote_points} votes
          %p #{post.comments_count} comments
          %p #{post.view_count} views
        .content
          %p.title= link_to post.title, post_path(post)
          %p.description= post.description
          = render_cell :tag, :list, post
          - if post.implemented?
            %span.implemeneted implemented
        .author
          by
          = link_to post.cached_user.login, user_path(post.cached_user)
        = render_cell :avatar, :show, post.cached_user
