.render-post
  .stat
    %p= "#{post.vote_points} votes"
    %p= "#{post.comments_count} comments"
    %p= "#{post.view_count} views"
  .content
    %p.title= link_to post.title, post_path(post)
    %p.description= post.description
    %p.tags
      - post.cached_tags.each do |tag|
        = link_to tag.name, tag_path(tag.name)
    - if post.implemented?
      %span.implemented implemented
  .author
    by
    = link_to post.cached_user.login, user_path(post.cached_user)
  .avatar= image_tag post.cached_user.gravatar_url(:size => 32, :default => 'mm'), :class => 'user-avatar', :alt => post.cached_user.login
