- title @post.title

.command
  = link_to 'Share', new_post_path, :class => 'share-button'
  - if can? :update, @post
    = link_to 'Edit', edit_post_path(@post)

%h2
  = @post.title

%table.post
  %tr
    %td.vote-info
      %div
        = vote_like_link(@post)
        %p= @post.vote_points
        = vote_dislike_link(@post)
    %td
      %p
        = image_tag @post.cached_user.gravatar_url(:size => 32, :default => 'mm'), :class => 'user-avatar', :alt => @post.cached_user.login
        Posted by
        = link_to @post.cached_user.login, user_path(@post.cached_user)
        on
        = l(@post.created_at.to_date)
      .description
        .point-to-icon
        %p= @post.description
      = render 'shared/addthis'
      .wikistyle= raw @post.cached_formatted_html
      - if @post.implemented?
        %span.implemented implemented
      .tags
        - @post.cached_tags.each do |tag|
          = link_to tag.name, tag_path(tag.name)
      - if @post.cached_related_posts.present?
        .related_posts
          %strong related best practices:
          %ul
            - @post.cached_related_posts.each do |rp|
              %li= link_to rp.title, post_path(rp)
      = render 'shared/addthis'

      - if Rails.env.production?
        .adsense= render 'shared/google_adsense'

      = render 'comments/comments', :parent => @post
      = render 'comments/comment_form', {:parent => @post, :comment => @comment}

- content_for :js do
  = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=flyerhzm"
