- title @post.title

.command
  = link_to 'Share', new_post_path, :class => 'share-button'
  - if can? :update, @post
    = link_to 'Edit', edit_post_path(@post)

%h2= @post.title

.post
  = render_cell :vote, :show, @post, current_user
  .post-info
    %p
      = render_cell :avatar, :show, @post.cached_user
      Posted by
      = link_to @post.cached_user.login, user_path(@post.cached_user)
      on
      = l @post.created_at.to_date
    .description
      .point-to-icon
      %p= @post.description
    = render 'shared/addthis'
    .wikistyle= raw @post.cached_formatted_html
    - if @post.implemented?
      %span.implemented implemented
    = render_cell :tag, :list, @post
    = render_cell :post, :related, @post
    = render 'shared/addthis'
    - if Rails.env.production?
      .adsense= render 'shared/google_adsense'

    = render_cell :comment, :show, @post
    = render_cell :comment, :new, @post, @comment, current_user

- content_for :js do
  = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=flyerhzm"
