.answer
  = render_cell :vote, :show, @answer, @user
  .answer-info
    %p
      = render_cell :avatar, :show, @answer.cached_user
      Answered by
      = link_to @answer.cached_user.login, user_path(@answer.cached_user)
      on
      = l @answer.created_at.to_date
    .wikistyle= raw @answer.cached_formatted_html
    = render_cell :comment, :show_short, @answer
    = render_cell :comment, :new_short, @answer, @user
