!!!
%html
  %head
    = favicon_link_tag
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    = display_meta_tags :site => 'Rails Best Practices', :description => "rails, ruby on rails, best practices, tips, tricks"
    = csrf_meta_tag
    = stylesheet_link_tag "application"
    = auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rails-bestpractices", {:title => "posts on rails-bestpractices.com"})
    = auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rails-bestpractices-team-blog", {:title => "rails-bestpractices.com team blog"})
    = auto_discovery_link_tag(:rss, "http://feeds.feedburner.com/rails-bestpractices-jobs", {:title => "jobs on rails-bestpractices.com"})
  %body
    = render_cell :header, :show, current_user

    #container
      .container
        #content
          - unless flash.blank?
            #flash
              - flash.each do |type, message|
                .message{:class => type}= message
          = yield
        #sidebar= render_cell :sidebar, :display, params[:controller], params[:action], current_user

    = render_cell :footer, :show
    = render 'shared/fork_me_on_github'

    = javascript_include_tag "application"
    = yield :js
    - if Rails.env.production?
      = render 'shared/google_analytics'
    = javascript_include_tag "http://s7.addthis.com/js/250/addthis_widget.js#username=flyerhzm"
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
